{% if settings.display_color_variant %}
  {% assign file_extension = 'png' %}
  {%- for option in product.options -%}
    {%- assign downcased_option = option | handleize -%}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign option_count = 0 %}
      {%- assign option_index = forloop.index0 -%}
      {%- assign values = '' -%}
      <ul class="variant-option-color">
        {% for variant in product.variants %}
          {%- assign value = variant.options[option_index] -%}
          {% unless values contains value %}
            {%- assign values = values | join: ',' -%}
            {%- assign values = values | append: ',' | append: value -%}
            {%- assign values = values | split: ',' -%}
            {%- assign color_name = value | handle -%}
            {%- assign color_file = value | handle | append: '.' | append: file_extension -%}
            {%- assign color_file_url = color_file | file_img_url: '50x50' | prepend: 'https:' | split: '?' | first -%}
            {% if option_count < 4 %}
              <li class="color-values">
                <a
                  data-href="{{ variant.url | within: collection }}"
                  class="swatch swatch-element {% if forloop.first %} active{% endif %} color"
                  data-swatch-meta="name-{{ downcased_option }}_{{ value | replace: ' ', '_' | downcase }}"
                >
                  <tooltip class="tooltip">{{ value | replace: '-', ' ' }}</tooltip>
                  <span
                    {% if variant.swatch.image %}
                      style="background-size: cover; background-image: url('{{ variant.swatch.image | image_url: width: 50 }}'); background-repeat: no-repeat;"
                    {% elsif variant.swatch.color %}
                      style="background-color: {{ variant.swatch.color }};"
                    {% elsif variant.image and settings.variant_image %}
                      style="background-size: cover; background-image: url('{{ variant.featured_image | image_url: width: 460 }}'); background-repeat: no-repeat;"
                    {% else %}
                      style="background-color: {{ color_name }}; background-image: url({{ color_file_url }}); background-repeat: no-repeat;"
                    {%- endif -%}
                    data-image="{% if variant.image %}{{ variant.featured_image | image_url: width: 460 }}{% else %}{{ product.featured_media | image_url: width: 360 }}{% endif %}"
                    data-id="{{- variant.id -}}"
                    data-variant-title-id="color"
                    data-variant-item="{{ value | replace: ' ', '-' | downcase }}"
                    data-variant-title="{{ variant.title }}"
                  >
                  </span>
                </a>
                {% assign option_count = option_count | plus: 1 %}
              </li>
            {% else %}
              <li class="color-values show-on-click" style="display:none">
                <a
                  data-href="{{ variant.url | within: collection }}"
                  class="swatch {% if forloop.first %} active{% endif %} color"
                  data-swatch-meta="name-{{ downcased_option }}_{{ value | replace: ' ', '_' | downcase }}"
                >
                  <tooltip class="tooltip">{{ value | replace: '-', ' ' }}</tooltip>
                  <span
                    {% if variant.swatch.image %}
                      style="background-size: cover; background-image: url('{{ variant.swatch.image | image_url: width: 50 }}'); background-repeat: no-repeat;"
                    {% elsif variant.swatch.color %}
                      style="background-color: {{ variant.swatch.color }};"
                    {% elsif variant.image and settings.variant_image %}
                      style="background-size: cover; background-image: url('{{ variant.featured_image | image_url: width: 460 }}'); background-repeat: no-repeat;"
                    {% else %}
                      style="background-color: {{ color_name }}; background-image: url({{ color_file_url }}); background-repeat: no-repeat;"
                    {% endif %}
                    data-image="{% if variant.image %}{{ variant.featured_image | image_url: width: 460 }}{% else %}{{ product.featured_media | image_url: width: 360 }}{% endif %}"
                    data-ids="{{- variant.id -}}"
                    data-variant-title-id="color"
                    data-variant-item="{{ value | replace: ' ', '-' | downcase }}"
                    data-variant-title="{{ variant.title }}"
                  >
                  </span>
                </a>
              </li>
              {% assign option_count = option_count | plus: 1 %}
            {% endif %}
          {% endunless %}
        {% endfor %}
        {% for itemOption in product.options_with_values %}
          {% assign lowercase_value = itemOption.name | downcase %}
          {% if lowercase_value contains 'color' %}
            {% if itemOption.values.size > 4 %}
              <li class="color-values-plus">
                <span
                  ><a href="#">+{{ itemOption.values.size | minus: 4 }}</a></span
                >
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}